   node_modules/
   __pycache__/
   *.pyc
   .env
   .env.local
   .aws/
   *.zip
   *.log
   build/
   dist/
   .DS_Store
   *.pem
   response.jsonfrontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
